[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
maturin = "*"
toml = "*"
pytest = "*"
lxml = "*"
pyarrow = "*"
mzidentml-reader = {ref = "pride", git = "git+https://github.com/Rappsilber-Laboratory/mzidentml-reader.git"}

[dev-packages]
setuptools-scm = "*"
setuptools-rust = "*"
