[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
maturin = "*"
toml = "*"
pytest = "*"
lxml = "*"
pyarrow = "*"

[dev-packages]
setuptools-scm = "*"
setuptools-rust = "*"
